<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Címek</h4>
            <p class="card-category">Ügyfeleink címlistája</p>
            <button [routerLink]="'/edit-address/0'" class="btn btn-large btn-success btn-block">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <mat-table  [dataSource]="dataSource" 
                      class="mat-elevation-z8"
                      matSort 
                      cdkDropList 
                      cdkDropListOrientation="horizontal"
                      (cdkDropListDropped)="drop($event)">

            <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.name">
              <mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header> {{ column.title }}
              
                <mat-cell  *matCellDef="let row">
                  <tr *ngIf="column.type == 'text'">
                    {{ row[column.name] }} 
                  </tr>
                  <tr *ngIf="column.type == 'btn-edit'">
                    <button mat-button (click)="onEdit(row)" class="btn btn-info" > <i class="fa fa-edit"></i> </button>
                  </tr>
                  <tr *ngIf="column.type == 'btn-trash'">  
                    <button mat-button (click)="onDelete(row)"class="btn btn-danger" ><i class="fa fa-trash"></i> </button>
                  </tr>
                  </mat-cell> 
              </mat-header-cell >
            </ng-container>

                        
            <ng-container matColumnDef="edit2">
              <mat-header-cell *matHeaderCellDef>Edit
                <mat-cell *matCellDef="let row" >
                  <button mat-button >Edit</button>
                </mat-cell>
              </mat-header-cell >
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div *ngIf="!loading" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Címek</h4>
            <p class="card-category">Ügyfeleink címlistája</p>
            <button [routerLink]="'/edit-address/0'" class="btn btn-large btn-success btn-block">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="font-weight-bold text-center">
                    <th class="font-weight-bold text-left">#</th>
                    <th class="font-weight-bold text-left">IRÁNYÍTÓSZÁM</th>
                    <th class="font-weight-bold text-left">MEGYE</th>
                    <th class="font-weight-bold text-left">VÁROS</th>
                    <th class="font-weight-bold text-left">UTCA</th>
                    <th class="font-weight-bold text-left">MEGJEGYZÉS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let address of addresses">
                    <td>{{ address.id }}</td>
                    <td>{{ address.zip }}</td>
                    <td>{{ address.country }}</td>
                    <td>{{ address.city }}</td>
                    <td>{{ address.street }}</td>
                    <td>{{ address.notes }}</td>
                    <td>
                      <div class="btn-group">
                        <button [routerLink] = "'/edit-address/' + address.id" class="btn btn-info">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="onDelete(address)" class="btn btn-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="main-content">
  <app-loading> </app-loading>
</div>

-->