<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Pénztár</h4>
            <p class="card-category">Itt megtekintheti számláit.</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="">
                  <th>id</th>
                  <th>orderID</th>
                  <th>amount</th>
                  <th>status</th>
                  <th>
                    <div class="btn-group">
                      <button [routerLink]="['/edit-bill/' + '0']" class="btn btn-info">
                        <i class="fa fa-plus-square"></i>
                      </button>
                    </div>
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let bill of bills">
                    <td>{{ bill.id }}</td>
                    <td>{{ bill.orderID }}</td>
                    <td>{{ bill.amount }}</td>
                    <td>{{ bill.status | switch }}</td>
                    <td>
                      <div class="btn-group">
                        <button [routerLink]="['/edit-bill/' + bill.id]" class="btn btn-info">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="onDelete(bill)" class="btn btn-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>