<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="order" class="col-6 offset-3 bg-ligh">
                <button [routerLink]="'/order-list'" class="btn btn-info btn-block btn-lg mt-3">
                    <i class="fa fa-arrow-circle-left"></i>
                </button>
                <h1 class="h2 text-center text-primary pt-3">{{ title }}</h1>
                <label class="mt-3">{{'#'+ order.id}}</label>
                <form #orderForm="ngForm" (ngSubmit)="onUpdate(orderForm, order)">
                    <div class="form-group my-5">
                        <label for="customerID">Vásárló az.</label>
                        <input name="customerID" [(ngModel)]="order.customerID" type="text" class="form-control"
                            pattern="^[1-9][0-9]{0,10}" required value="0">
                        <div [hidden]="orderForm.controls.customerID?.valid" class="error-message">
                            Csak számokat tartalmazhat.
                        </div>
                    </div>
                    <div class="form-group my-5">
                        <label for="productID">Termék az.</label>
                        <input name="productID" [(ngModel)]="order.productID" type="text" class="form-control"
                            pattern="^[1-9][0-9]{0,10}" required value="0">
                        <div [hidden]="orderForm.controls.productID?.valid" class="error-message">
                            Csak számokat tartalmazhat.
                        </div>
                    </div>
                    <div class="form-group my-5">
                        <label for="amount">Összeg</label>
                        <input name="amount" [(ngModel)]="order.amount" type="text" class="form-control"
                            pattern="^[1-9][0-9]{0,10}" required value="0">
                        <div [hidden]="orderForm.controls.amount?.valid" class="error-message">
                            Csak számokat tartalmazhat.
                        </div>
                    </div>
                    <div class="form-group my-5">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="featured" [(ngModel)]="order.status"
                                class="custom-control-input" id="featured">
                            <label class="custom-control-label" for="featured">Új</label>
                        </div>
                    </div>
                    <button [disabled]="orderForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg">
                        <i class="fa fa-save"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>