<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Rólunk</h4>
                        <p class="card-category"> F10 Button Forever</p>
                    </div>
                    <section class="py-5">
                        <div class="container-fluid">
                            <div class="col-md-12">
                            </div>
                            <div class="col-sm-6 col-lg-4 col-xl-2">
                                <div class="card">
                                    <img src="../assets/img/faces/SzT.jpg" class="card-img-top">
                                    <div class="card-body">
                                        <h4 class="card-title">Szűcs Tamás</h4>
                                        <p class="card-text">"Helló...................."</p>
                                        <a class="card-link" href="https://github.com/Oborsil/">Github</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>