<div *ngIf="!loading" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Rendelések</h4>
                        <p class="card-category"> Beszéljük meg egy sör mellett!</p>
                        <button [routerLink]="'/edit-order/0'" class="btn btn-large btn-warning btn-block">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th (click)="onColumnSelect('id')" class="bg-primary text-center">id</th>
                                        <th (click)="onColumnSelect('customerID')" class="bg-info text-center">
                                            customerID</th>
                                        <th (click)="onColumnSelect('productID')" class="bg-primary text-center">
                                            productID</th>
                                        <th (click)="onColumnSelect('amount')" class="bg-info text-center">amount</th>
                                        <th (click)="onColumnSelect('status')" class="bg-primary text-center">status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let order of orders | search: phraseString:'name'
                                    | sort: columnKey:direction">
                                        <td>{{ order.id }}</td>
                                        <td>{{ order.customerID }}</td>
                                        <td>{{ order.productID }}</td>
                                        <td>{{ order.amount}}</td>
                                        <td>{{ order.status | switch }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/edit-order/' + order.id" class="btn btn-info">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button (click)="onDelete(order)" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="main-content">
  <app-loading> </app-loading>
</div>