<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Termékek</h4>
                        <p class="card-category"> List of our greate products</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold text-center">#</th>
                                        <th class="font-weight-bold">NAME</th>
                                        <th class="font-weight-bold text-center">TYPE</th>
                                        <th class="font-weight-bold text-center">CATID</th>
                                        <th class="font-weight-bold text-center">DESCRIPTION</th>
                                        <th class="font-weight-bold text-center">PRICE</th>
                                        <th class="font-weight-bold text-center">FEATURED</th>
                                        <th class="font-weight-bold text-center">ACTIVE</th>
                                        <th class="font-weight-bold text-center">EDIT / DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products">
                                        <td class="text-center">{{ product.id }}</td>
                                        <td class="">{{ product.name }}</td>
                                        <td class="text-center">{{ product.type }}</td>
                                        <td class="text-center">{{ product.catID }}</td>
                                        <td class="text-center">{{ product.description }}</td>
                                        <td class="text-center">{{ product.price }}</td>
                                        <td class="text-center">{{ product.featured }}</td>
                                        <td class="text-center">{{ product.active }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/edit-product/' + product.id"
                                                    class="btn btn-info">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button (click)="onDelete(product)" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="bg-secondary">
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light">{{ products.length }}</td>
                                        <td class="text-light text-right">Összegzés:</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>