<div *ngIf="!loading" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Termékek</h4>
                        <p class="card-category"> Válogasson gazdag terméklistánkból!</p>
                        <button [routerLink]="'/edit-product/0'" class="btn btn-large btn-success btn-block">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group bg-dark mx-auto py-1">
                            <input (keyup)="onSearchPhrase($event)" type="text"
                                class="form-control text-center mx-auto my-1 w-75"
                                placeholder="Keresés a táblázatban...">

                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th (click)="onColumnSelect('id')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">#
                                        </th>
                                        <th (click)="onColumnSelect('name')" id="columnName"
                                            class="bg-dark font-weight-bold text-light">NÉV
                                        </th>
                                        <th (click)="onColumnSelect('type')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">TÍPUS
                                        </th>
                                        <th (click)="onColumnSelect('catID')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">KATEGÓRIA
                                        </th>
                                        <th (click)="onColumnSelect('description')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">LEÍRÁS
                                        </th>
                                        <th (click)="onColumnSelect('price')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">ÁR
                                        </th>
                                        <th (click)="onColumnSelect('featured')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">KIEMELT
                                        </th>
                                        <th (click)="onColumnSelect('active')" id="columnName"
                                            class="bg-dark font-weight-bold text-light text-center">ELÉRHETŐ
                                        </th>
                                        <th class="bg-dark font-weight-bold text-light text-center">SZERKESZTÉS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let product of products | sort: columnKey:direction  | search: phraseString">
                                        <td class="text-center">{{ product.id }}</td>
                                        <td class="">{{ product.name }}</td>
                                        <td class="text-center">{{ product.type }}</td>
                                        <td class="text-center">{{ product.catID | switch }}</td>
                                        <td class="text-center">{{ product.description }}</td>
                                        <td class="text-center">{{ product.price }}</td>
                                        <td class="text-center">{{ product.featured | switch }}</td>
                                        <td class="text-center">{{ product.active | switch }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <button [routerLink]="'/edit-product/' + product.id"
                                                    class="btn btn-info">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button (click)="onDelete(product)" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <!--   <tr class="bg-secondary">
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light">{{ }}</td>
                                        <td class="text-light text-right">Összegzés:</td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="main-content">
    <app-loading> </app-loading>
</div>